#intro {
    width: auto;
    padding: 15px 0 5px 0;
    display: block;
    overflow: auto;
    text-align: center;
}

#image {
    margin: auto;
}

#name {
    font-family: 'Courier';
    color: white;
    margin: 20px auto 15px;
    display: table;
}