.App {
    height:100vh;

    background-color: #2E3233;
    display: block;
}

#intro {
    background-color: #000000;
}

.info_links {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: auto;
}