.App {
    height:100vh;

    background-color: #181a1b;
    display: block;
}

#Intro {
    height: 37vh;
}

#About {
    height: 63vh;
    background-color: #303436;
}

.info_links {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: auto;
}